<app-header></app-header>
<div class="left-background">

</div>
<div class="right-background">
</div>

<div class="image-card">
  <p>We make it Super Simple</p><br /><br />
  <img src="assets/images/collect_img-video.png" alt="collect-image" width="500px;" />
</div>

<div class="eligibility-card">
  <div class="calculator-card">
    <div class="calculator-card-header">
      Eligibility Calculator
    </div>
    <div class="calculator-card-body">
      <div class="input-items">
        <p  style="margin: 0px; margin-top: 15px; font-size: 15px; font-family: monospace;">Monthly Income</p>
        <p style="margin: 0px;font-size: 22px;margin-top: 5px;">&#8377;{{slider.value}}</p>
        <mat-slider class="average" #slider min="100000" max="300000" step="1" value="100000"></mat-slider>
      </div>

      <div class="input-items">
        <p  style="margin: 0px; margin-top: 15px; font-size: 15px; font-family: monospace;">Monthly Expense</p>
        <p style="margin: 0px;font-size: 22px;margin-top: 5px;">&#8377;{{sliderMonthly.value}}</p>
        <mat-slider class="average" #sliderMonthly min="1" max="300000" step="1" value="1"></mat-slider>
      </div>

      <div class="input-items">
        <mat-form-field>
          <p  style="margin: 0px; margin-top: 5px; font-size: 15px; font-family: monospace;">Repayment Tenure</p>
          <mat-select [formControl]="toppings" multiple>
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0] : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div><br/>

      <div class="input-items">
        <span style="font-size: 15px;  font-family: monospace;">Do you have any existing loans?</span> &nbsp;
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div><br/>

      <div class="input-items">
        <p  style="margin: 0px; margin-top: 15px; font-size: 15px; font-family: monospace;">EMI of existing loan (optional)</p>
         <input type="text" />
      </div>
     
    </div> 
  </div>
  <div class="get-money-card" >
     <div class="text-heading">
      <p>Loan Amount</p>
       <p>&#8377;1,00,000</p>
     </div>
     <div class="text-heading">
      <p>Your EMI will be</p>
       <p>&#8377;50,000</p>
     </div>
     <button class="btn-heading">
       Get Money
     </button>
  </div>
</div>

<div class="footer-image">

</div>

<div class="footer-card">
 <div class="card-group-1">
  <div class="card-group-1-card">
    <div class="img-class">
    <img src="assets/images/Get Paid Instantly.png" alt="collect-image" width="80px;" height="80px;" />
    </div>
    <h4 class="card-title">Quick cash disbursement</h4>
    <p class="card-content">Get terms loans that your business needs within 72 hrs</p>
    <br/>
  </div>
  <div class="card-group-1-card">
    <div class="img-class">
      <img src="assets/images/Low interest rate.png" alt="collect-image" width="80px;" height="80px;" />
      </div>
      <h4 class="card-title">Low-interest rate</h4>
      <p class="card-content">Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
      <br/>
  </div>
  <div class="card-group-1-card">
    <div class="img-class">
      <img src="assets/images/Secure Payments.png" alt="collect-image"  width="80px;" height="80px;" />
      </div>
      <h4 class="card-title">Zero Paperwork</h4>
      <p class="card-content">Get started instantly by submitting only your basic details & bank statements</p>
      <br/>
  </div>
 </div>

 <div class="card-group-2">
  <div class="card-group-2-card1">
    <div class="img-class">
    <img src="assets/images/freelancer_feature.png" alt="collect-image" width="80px;" height="80px;" />
    </div>
    <h4 class="card-title1">Ace your business finances</h4>
    <p class="card-content1">Manage banking, accounting & everything in between, on one platform</p>
    <br/>
  </div>
  <div class="card-group-2-card">
    <div class="img-class">
      <img src="assets/images/Covid.png" alt="collect-image" width="80px;" height="80px;" />
      </div>
      <h4 class="card-title">Loans to fight COVID-19</h4>
      <p class="card-content">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
      <br/>
  </div>
</div>

<div class="card-group-3">
 <p class="boost-title">Boost your business with Open</p>

 <p class="open-account-content">
  Get your hands on a term loan that’s crafted for your business
 </p>
 
 <button class="open-account">
   Get an Open account
 </button>
</div>
</div>


<router-outlet></router-outlet>